@model SearchViewModel

<h2>Kết quả tìm kiếm cho "@Model.SearchTerm"</h2>

<h3>Dịch vụ</h3>
<table style="border-collapse: collapse; width: 100%;">
    <thead>
        <tr>
            <th style="border: 1px solid black;">Tên</th>
            <th style="border: 1px solid black;">Chi phí</th>
            <th style="border: 1px solid black;">Ghi chú</th>
            <th style="border: 1px solid black;">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dichvu in Model.DichvuResults)
        {
            <tr>
                <td style="border: 1px solid black;">@dichvu.Name</td>
                <td style="border: 1px solid black;">@dichvu.Cost</td>
                <td style="border: 1px solid black;">@dichvu.Note</td>
                <td style="border: 1px solid black;">
                    <a asp-action="Thongtinchitiet385" asp-route-id="@dichvu.Id" asp-route-isDichvu="true">Xem chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Phụ tùng</h3>
<table style="border-collapse: collapse; width: 100%;">
    <thead>
        <tr>
            <th style="border: 1px solid black;">Tên</th>
            <th style="border: 1px solid black;">Chi phí</th>
            <th style="border: 1px solid black;">Ghi chú</th>
            <th style="border: 1px solid black;">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var phutung in Model.PhutungResults)
        {
            <tr>
                <td style="border: 1px solid black;">@phutung.Name</td>
                <td style="border: 1px solid black;">@phutung.Cost</td>
                <td style="border: 1px solid black;">@phutung.Note</td>
                <td style="border: 1px solid black;">
                    <a asp-action="Thongtinchitiet385" asp-route-id="@phutung.Id" asp-route-isDichvu="false">Xem chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
