@model DetailViewModel

<h2>Chi tiết</h2>

@if (Model.IsDichvu)
{
    <h3>Chi tiết dịch vụ</h3>
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <td style="border: 1px solid black;"><strong>Tên:</strong></td>
            <td style="border: 1px solid black;">@Model.Dichvu.Name</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;"><strong>Chi phí:</strong></td>
            <td style="border: 1px solid black;">@Model.Dichvu.Cost</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;"><strong>Ghi chú:</strong></td>
            <td style="border: 1px solid black;">@Model.Dichvu.Note</td>
        </tr>
    </table>
}
else
{
    <h3>Chi tiết phụ tùng</h3>
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <td style="border: 1px solid black;"><strong>Tên:</strong></td>
            <td style="border: 1px solid black;">@Model.Phutung.Name</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;"><strong>Chi phí:</strong></td>
            <td style="border: 1px solid black;">@Model.Phutung.Cost</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;"><strong>Ghi chú:</strong></td>
            <td style="border: 1px solid black;">@Model.Phutung.Note</td>
        </tr>
    </table>
}
